* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

:root {
  --font-family: "Open Sans", sans-serif;
  --border-color: #ddd;
  --light-blue-color: #eaafc8;
  --dark-color: #000;
  --light-color: #f1f1f1;
}

body {
  font-family: var(--font-family);
  display: grid;
  place-items: center;
  height: 100vh;
  font-weight: 500;
  background-color: var(--light-blue-color);
}

main {
  margin-inline: 15px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: var(--light-color);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.container h2 {
  text-align: center;
  padding: 0.525rem;
  font-size: 2.5rem;
  border-bottom: 1px solid var(--border-color);
}

.container .accordion .accordion-header {
  padding: 0.828rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container .accordion .accordion-header span {
  font-size: 1.5rem;
  font-weight: 600;
}

.container .accordion .accordion-body {
  padding: 0 0.828rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height ease 0.5s;
}

.container .accordion .accordion-body p {
  border-bottom: none;
  margin: 0.828rem 0;
}

.container .accordion.active .accordion-body {
  border-bottom: 1px solid var(--border-color);
}

.close span {
  transition: ease 0.5s;
  display: inline-block;
  height: 12px;
  width: 2px;
  background-color: var(--dark-color);
}

.close span:nth-child(even) {
  transform: rotate(90deg) translateY(6.7px);
}

.active .close span:nth-child(odd) {
  opacity: 0;
  visibility: hidden;
}
