.styling {
    border: 0px solid #69899F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
  }

  .name{
    width: 212px;
  }

.styling th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
.styling td{
    width:100px;
    padding:10px;
    text-align:center;
    vertical-align: top;
    background-color:#DEF3CA;
    border: 1px solid #BED3AB;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}