*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;  
 }
 body{
     overflow: hidden;
 }
 .container{
     height: 70vh;
     width: 100vw;  
     justify-content: center;
     align-items: center;
 }
 .header{
     height: 40%;
     width: 100%;
     color: white;
     background: url(Images/newsletter-bg.jpg) no-repeat;
     background-size: cover;
     /* background-color: rgb(191, 28, 28); */
     display: flex;
     justify-content: center;
     align-items: center; 
 }
 .vertical-1{
     height: 100%;
     width: 50%;
     margin-top: 60px;
     margin-left: 178px;
     /* align-items: center;
     justify-content: center; */
 }
 h5{
   margin-top: 10px;  
 }
 hr{
     margin-left: 14%;
     margin-top: 2%;
     width: 73%;
 }
 input[type=text] {
     width: 90%;
     padding: 12px 20px;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 .vertical-2{
     height: 100%;
     width: 40%;
     margin-top: 60px;
     margin-left: 55px;
     /* align-items: center;
     justify-content: space-between; */
 }
 .links{
     height: 10%;
     width: 50%;
     margin-top: 20px;
     font-size: 130%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .contents{
     height: 65%;
     width: 100%;
     margin-top: 3%;
     margin-left: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .content-1{
     height: 100%;
     width: 25%; 
 }
 
 .content-1 ul{
     list-style:none; 
 }
 .content-1 ul li{
     text-decoration:none;
      margin-top: 20px;
 }
 .content-2{
     height: 100%;
     width: 25%;
   
 }
 .content-2 ul{
     list-style:none; 
 }
 .content-2 ul li{
     text-decoration:none;
      margin-top: 20px;
     
 }
 .box{
     height: 23%;
     width: 64%;
     margin-top: 12px;
     background-color: grey;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .vertical-1 button{
    border: none;
    height: 32px;
    width: 90px;
    color: white;
    background-color: rgb(191, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(428px, -36px);
 }
 li i{
     margin-right: 30px;
 }

 .content-3{
     height: 100%;
     width: 25%;
 }
 .content-3 form{
     margin-top: 20px;
 }
 .button {
     height: 33px;
     width: 160px;
     margin-left: 40%;
     color: white;
     background-color:  rgb(191, 28, 28);
     display: flex;
     align-items: center;
     justify-content: center;  
     cursor: pointer;
   }
 .footer{
     height: 15%;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
 }
 .footer-right{
     height: 100%;
     width: 20%;
     margin-right: 180px;
     margin-bottom: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .footer-left{
     height: 100%;
     width: 20%;
     margin-right: 90px;
     margin-top: 40px;
     justify-content: space-evenly;
     align-items: center;
 }
 ol{
  list-style: none;
     display: flex;
     justify-content: space-around;  
     align-items: center; 
 }
 
 
 
 