*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-image: url('Images/landing-bg.jpg');
    background-attachment: fixed;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    overflow: hidden;
 }

 .links_header{
    height: 0vh;
    width: 100%;
 }    
 .top_social_links{
     height: 100%;
     width: 25%;
     margin-top: 1%;
     margin-left: 74%;
 }
 .top_social_links a{
     text-decoration: none;
     color: grey;
     padding: 1vw;
     opacity: 0.8;
 }
 .fa-solid{
     color: white;
 }
 .top_social_links a:hover{
     color: white;
 }
 
 .nav_header{
     height: 15vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .top_logo{
     height: 100%;
     width: 25%;
 }
 .top_logo img{
     height: 16vh;
     width: 45%;
 }
 .navbar{
     font-family: 'Roboto', sans-serif;
     /* font-family: 'optima'; */
 }
  .navbar a{
     text-decoration: none;
     margin-left: 1rem;
     color: white;
  }
  .navbar a:hover{
     color: grey;
  }
 
  /* ************ */
 .content{
     width: 60%;
     margin: 120px -140px;
     color: white;
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }
 .content h1{
     font-size: 120px;
     margin-left: 32%;
     letter-spacing: 4px;
 }
 .content h3{
     width: 80%;
     margin: 1px 118px;
     font-weight: 100;
     font-size: 30px;
 }
 .content h5{
     width: 80%;
     margin: -15px 36px;
     font-weight: 100;
 }